<%= bootstrap_form_for @user_product, method: 'delete', url: delete_product_path do |f| %>
  <div id="special-products-table">
    <% @selected_user.special_products.each do |special_product| %>
    <table>
      <tr>
        <th><%= special_product.description %></th>
        <th>
          <th><%= f.check_box :special_product_id, {:multiple => true, class: "added-product-checkbox"}, checked_value = "#{special_product.id}", unchecked_value = nil%></th>
        </th>
        <th>
          <%= f.submit "Delete Special Product", class: "btn btn-primary" %>
        </th>
      </tr>
    </table>
    <% end %>

  </div>
<% end %>
