<%= render partial: 'navbar' %>
<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav sidebar-nav-order">
      <%= render partial: 'search' %>
    </ul>
  </div>
  <div id="page-content-wrapper-order" class="order-home">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div id="products-partial">
            <%= render partial: 'products' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
