<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @order_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p>
    There are no items in your shopping cart. Please <%= link_to "go back", order_index_path %> and add items to cart
  </p>
<% else %>
  <% @order_items.each do |order_item| %>
    <h1><%= order_item.inventory_product.description %></h1>
    <p><%= order_item.quantity %></p>
  <% end %>
<% end %>
