// Place all the styles related to the Order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.coffee-hidden-regular, .coffee-hidden-fair-trade {
  display: none;
}

.checkbox {
  display: inline-block !important;
}

.coffee-hidden-fair-trade, .coffee-hidden-regular {
  margin-left: 25px;
}

ul.sidebar-nav-order li {
  font-size: 14px;
  color: white;
  line-height: 35px;
  input {
    color: black;
  }
}

ul.nav {
  li {
    font-size: 22px;
    margin-top: 5px;
  }
}
.order-search {
  height: 30px;
}

.non-fair-label {
  font-size: 12px;
}

nav.navbar.navbar-inverse {
  margin-bottom: 0px;
  border-radius: 0px;
  height: 75px;
}

li.search-title {
  margin-top: 10vh;
}
//
// #products-partial, #clearence-partial {
//   margin-top: 10vh;
// }

.order-home-col {
  margin-top: 10vh;
}
table.table{
  tr{
    th.product-name {
      padding-top: 40px;
    }
    th.products-button, th.quote {
      padding-top: 30px;
    }
  }
}
